.cssColor1{
    background-color: teal;
}

.cssColor2{
    background-color: #00ffcb;
}

.cssColor3{
    background-color: rgb(255, 212, 0);
}

.commonCssColors{
    color: white;
    padding: 20px;
    margin: 20px;
}

/*p7.html*/
.jumbotron{
    background-color: pink;
    border-radius: 10px;
}

.cssFont{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
}

/*p8.html*/

.cssText{
    text-decoration: underline;
    line-height: 2;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-transform: uppercase;
    text-align: justify;

}

.cssText>p{
    text-indent: 100px;
}

/*p9.html*/
.navBar{
    background-color: darkcyan;
}
.navBar>ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    float: right;
}
.navBar>ul>li{
    display: inline-block;
    padding: 29px;
}
.navBar>ul>li:hover{
    background-color: white;
}
.navBar>ul>li>a{
    color: white;
}
.navBar>ul>li:hover a{
    color: darkcyan;
}

.navBar>img{
    height: 54px;
}

/*p10*/

.list-marker-position>ol>li{
    background-color: teal;
    padding: 20px;
    margin-bottom: 20px;
    list-style-position: inside;
}

.list-marker-position>ol>li>a{
    color: white;
    text-decoration: none;
}

.list-marker-position>ol>li::marker{
    color: yellow;
    font-weight: bold;
    font-size: 30px;
}

/*p11.html */
.list-icon>ul>li{
    list-style-image: url(../images/man.png);
}

/*p12.html*/
.list-shorthand>ul>li{
    background-color: teal;
    padding: 20px;
    margin-bottom: 20px;
    list-style: none inside url(../images/man.png);
}

/*p13.html*/
.empty-cell-tables{
    empty-cells: hide;
}

/* p14.html */
.odd-even-table, .odd-even-table th, .odd-even-table td{
    border: 1px solid #000;
    padding: 20px;
    border-collapse: collapse;
    color: white;
}
/* .odd-even-table{
    background-color: #87ceeb;
} */

.odd-even-table tr:nth-child(odd){
    background-color: teal;
}

.odd-even-table tr:nth-child(even){
    background-color: rgb(200,200,200);
}

.odd-even-table tr:hover{
    background-color: coral;
}
.odd-even-table th{
    background-color:#87ceeb ;
}
.odd-even-table>caption{
    color: #808080;
    font-weight: bold;
    caption-side: bottom;
}
.odd-even-table td{
    height: 100%;
    vertical-align: center;
}


/*p15.html*/
.layout-table, .layout-table th, .layout-table td{
    border: 2px solid #808080;
    border-collapse: collapse;
    padding: 20px;
}

.layout-table{
    width: 12%;
    table-layout: fixed;
}
.layout-table td, .layout-table th{
    overflow: scroll;
}



/* P16.HTML */
*{
    padding: 0%;
    margin: 0%;
}
header{
    background-color: gray;
}

header>nav>ul{
    list-style-type: none;
    float: right;
}
header>nav>img{
    height: 64px;
}
header>nav>ul>li{
    display: inline-block;
    padding: 25px;
    
}
header>nav>ul>li>a{
    color: white;
    text-decoration: none;
    
}
header>nav>ul>li:hover{
    background-color: lightsalmon;
    
}

/*p17.html */
.banner1{
    background-color: bisque;
}
.bannerCommonClass{
    color: #808080;
    padding: 30px;
    height: 60vh;
    text-align: center;
}
.bannerCommonClass>h1{
    font-size: 50px;
}
.bannerCommonClass>h1:hover{
    color: #000;
}

/* p18.html*/
.banner2{
    background-image: url(../images/image2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


